/* ==============
    Base Styles
============== */

:root {
    --heading-font: #e05e46;
    --text-font: #111;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

img {
    display: block;
    width: 100%;
}

/* ===============
    Main Content
================ */

.container {
    padding: 40px 0;
    max-width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: space-between;
    align-items: flex-start;
    gap: 60px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.box-img {
    position: relative;
    padding: 5rem;
}

.one {
    background-color: #70c0c9;
}

.two {
    background-color: #4074bd;
}

.three {
    background-color: var(--heading-font);
}

.four {
    background-color: #919191;
}

.number{
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: -15px;
    transform: translate(-15%,15%);
    border: 4px solid var(--heading-font);
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    color: var(--heading-font);
}

.num-1 {
    border-color: #70c0c9;
    color: #70c0c9;
}

.num-2 {
    border-color: #4074bd;
    color: #4074bd;
}

.num-4 {
    border-color: #919191;
    color: #919191;
}

.img {
    aspect-ratio: 1/1;
    filter: invert(1);
}

.box-content {
    text-align: center;
}

.box-heading {
    text-transform: uppercase;
    color: var(--heading-font);
    margin-bottom: 15px;
}

.box-text {
    line-height: 1.6;
}

/* ===============
    Media Queries
================ */


@media screen and (min-width: 700px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 5%;
    }
}

@media screen and (min-width: 1000px) {
   .container {
    grid-template-columns: repeat(4, 1fr);
   }

   .box-img {
    padding: 3.5rem;
   }

   .number {
    width: 50px;
    height: 50px;
    top: -25px;
    left: -10px;
    font-size: 22px;
   }
}